<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Eat That Burger!</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="formControlTextArea"><h3>Make A New Burger!</h3></label>
                    <textarea class="form-control" id="formControlTextarea1" rows="1"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" id="burger">New Burgers</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" id="devoured">Devoured Burgers</h3>
                </div>
            </div>
        </div>
    </div>
</div>